body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #222; /* Dark gray navigation bar */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    background: url('robinhermit.github.io/media/background.mov') no-repeat center center fixed; /* Replace 'background-video.mp4' with your video/GIF file */
    background-size: cover;
    text-align: center;
}

h2 {
    font-size: 24px;
}

/* Hide dropdown content by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Dropdown background color */
    min-width: 160px;
    z-index: 1;
}

/* Show dropdown content when hovering over the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown links */
.dropdown-content li {
    padding: 10px;
}

.dropdown-content li a {
    color: #333; /* Dropdown link color */
    text-decoration: none;
}

/* Style the dropdown links on hover */
.dropdown-content li a:hover {
    background-color: #ddd; /* Hover background color */
}


/* Add more specific styles for your content within each section as needed */
