/* Reset default browser styles */
body, ul {
    margin: 0;
    padding: 0;
}

nav {
    font-size:18px;
    max-width: 100%;
}

/* Navigation styles */
nav ul {
    list-style: none;
}

nav li {
    position: relative;
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size:20px;
}

/* Dropdown menu styles */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000; /* Dropdown background color */
    min-width: auto;
    max-width: max-content;
    z-index: 1;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown-content li a {
    color: #fff; /* Dropdown link color */
    text-decoration: none;
}

/* Show top-level dropdown content when hovering over the dropdown */
.dropdown:hover > .dropdown-content {
    display: block;
}

/* Show nested dropdown content when hovering over the parent dropdown */
.dropdown-content li:hover > .dropdown-content {
    display: block;
}

/* Style the dropdown links on hover */
.dropdown-content li a:hover {
    background-color: #333; /* Hover background color */
}

/* Adjust size and position of nested dropdown menu */
.dropdown-content .nested-dropdown {
    width: auto; /* Adjust width as needed */
    top: 0;
    left: 100%; /* Position to the right of the parent dropdown */
}

.dropdown-content .nested-dropdown li {
    padding: 5px;
}

/* Style the nested dropdown links */
.dropdown-content .nested-dropdown li a {
    color: #fff; /* Change font color to white */
    text-decoration: none;
}

/* Style the nested dropdown links on hover */
.dropdown-content .nested-dropdown li a:hover {
    background-color: #333; /* Change hover background color to dark gray */
}


.video-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden; 
    position: relative; 
}

.video-container {
    width: 100%;
    position: relative; 
}


.text-box {
    flex-grow: 1;
    padding: 10px;
}

.text-box h3 {
    font-size: 1.2em;
    margin-top: 0;
    font-family: 'Courier New', monospace;
    text-align: center;
}

.text-box p {
    font-size: 0.9em;
    line-height: 1.4;
    font-family:'Courier New', monospace;
    text-align: center;
}


.instagram-embed {
    background-color: #333;
    color: #fff;
}


/* EXPERIMENTAL STUFF */

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}




#external-text, #external-text-content div {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    color:white;
    max-width: 100%; /* Set the maximum width of the text container */
    margin: 0 auto; /* Center the text container horizontally */
    font-family: 'Courier New', monospace; /* Use Courier New font */
    font-size: 16px; /* Set the font size of the text */
    font-weight: normal; /* Set the font weight */
    /*text-align: justify; */
    overflow-wrap: break-word; /* Wrap long words onto the next line */
    /*overflow-x: hidden;*/
    word-wrap: break-word; /* For older browsers */
    white-space: pre-wrap;
    box-sizing: border-box;
    hyphens: auto; /* Enable hyphenation for better word wrapping */
    background-size: cover;
}



@media only screen and (max-width: 768px) {
    
    .video-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .text-box {
        width: 100%;
        margin-top:20px;
    }
    .video-container {
        width: 100%;
    }
}

/* Media query for devices with a maximum width of 480px (e.g., smartphones) */
@media only screen and (max-width: 480px) {
    .video-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .text-box {
        width: 100%;
        margin-top:20px;
    }
    .video-container {
        width: 100%;
    }
}




/* Body styles */
body {
    font-family: 'CarbonType', Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
}

/* Section styles */
section {
    padding: 2px;
    background: url('media/background.gif') no-repeat center center fixed; /* Replace 'background-video.mp4' with your video/GIF file */
    background-size: cover;
    text-align: center;
}

h2 {
    font-size: 24px;
}

a {
    color: white;
}
